a:link,a:active,a:visited {
        text-decoration: underline;
        color: #0000AA;
        cursor: pointer;
}

a:hover {
        text-decoration: none;
        color: #000000;
        cursor: pointer;
}

a:link.calen1, a:active.calen1, a:visited.calen1, a:hover.calen1 {
	color:#000000;
}

a:link.titlebar, a:active.titlebar, a:visited.titlebar, a:hover.titlebar {
        color:#FFFFFF;
}

body {
        padding: 10px;
        margin: 0px;

        color: #000000;
}

img {
	border-style: none;
}

table.mainbody {
        background-color: #EEEEEE;
        border: thin solid #000000;
        width: 100%;
}

table.mainbody td {
        padding: 5px;
        margin: 10px;
        font-size: 14px;
}

td.infobar {
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 2px ridge #DDDDDD;
}

table.infobar td {
	color: #FFFFFF;
	font-size: 14px;
}

table.header {
        background-color: #990000;
        padding: 0px;
        margin: 0px;
        border: thin solid #000000;
        outline-style: outset;
        outline width: 2px;
        width: 100%;

        color: #FFFFFF;
}

table.chart {
        background-color: #EEEEEE;
        color: #000000;
}

table.chart th {
        padding: 2px;
}

table.chart td {
        padding: 2px;
}

table.calendar {
        width: 100%;
        border: 0px solid #888000;
        border-collapse: collapse;
}

table.calendar td {
        width: 14%;
        border-collapse: collapse;
        border: 1px solid #888000;
        text-align: left;
        vertical-align: top;
        padding-right: 5px;
}

.days {
        background-color: #F1F3F5;
}

table.calendar th {
        border-collapse: collapse;
        border: 1px solid #888000;
        background-color: #E9ECEF;
}

.actday {
        background-color: #F9C73F;
        font-weight: bold;
}

.emptyday1 {
        background-color: #CCCCCC;
}

.emptyday2 {
        background-color: #CCCCCC;
}

.bold {
        font-weight: bold;
}

.underline {
        text-decoration: underline;
}

table.calendar ul {
        margin: 2px;
        padding: 0;
        list-style-type: none;
        border-color: black;
        border-style: solid;
        border-width: 1px 1px 0 1px;
}

table.calendar li {
        font-size: 80%;
        font-weight: normal;
        padding: 0;
        border-color: black;
        border-style: solid;
        border-width: 0 0 1px 0;
        margin: 1px 0 1px 0;
        background-color: #CCC;
}

table.calendar li.unclaimed{
        font-size: 80%;
        font-weight: normal;
        padding: 0;
        border-color: black;
        border-style: solid;
        border-width: 0 0 1px 0;
        margin: 1px 0 1px 0;
        background-color: #B02121;
}

table.calendar li.claimed{
        font-size: 80%;
        font-weight: normal;
        padding: 0;
        border-color: black;
        border-style: solid;
        border-width: 0 0 1px 0;
        margin: 1px 0 1px 0;
        background-color: #CCCCCC;
}

table.calendar li a {
        display: block;
        text-decoration: none;
        padding: 2px;
}

table.calendar li a:hover {
        background-color: white;
        color: black;
}

table.calendar th

h1 { font-size: 22px; }
h2 { font-size: 17px; }
h3 { font-size: 13px; }
h4 { font-size: 11px; }
h5 { font-size: 9px; }
h6 { font-size: 7px; }


